{% extends "base_network.html" %}
{% block title %}
	Mes appareils
{% endblock %}

{% block main %}
<div class="row">
	{% if user_devices_list %}
	<table class="highlight bordered">
		<thead>
			<tr>
				<th>
					Nom
				</th>
				<th>
					Description
				</th>
				<th>
					Adresse IP
				</th>
				<th>
					Interfaces
				</th>
				<th colspan="2">
					Options
				</th>
			</tr>
		</thead>
		<tbody>
			{% for device in user_devices_list %}
			<tr>
				<td>
					{{ device.device_name }}
				</td>
				<td>
					{{ device.description }}
				</td>
				<td>
					{{ device.device_ip }}
				</td>
				<td>
					{{ device.interface_set.all|length }}
				</td>
				<td>
					<a href="{% url "network:deviceUpdate" device.id %}"
						class="btn">
						Modifier
					</a>
				</td>
				<td>
					<a href="{% url "network:deviceDelete" device.id %}"
							class="btn">
						Supprimer
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>Aucun appareil enregistré</p>
	{% endif %}
</div>

<div class="row">
	<a href="{% url "network:deviceCreate" %}" class="btn">
		Ajouter un appareil
	</a>
</div>

{% endblock %}
