before_script:
  - id
  - pwd
  - ruby -v
  - python3 --version
  - if [ -e venv/bin/activate ] ; then source venv/bin/activate ; else echo "No virtualenv !" ; fi
  - cp members/localSettings.py.example members/localSettings.py

cache:
  untracked: true
  paths:
    - venv/

stages:
  - install
  - build
  - test

requirements-install:
  stage: install
  script:
    - rm -rf venv
    - virtualenv -p $(which python3) venv
    - bundle install --jobs $(nproc) --path venv/ruby
    - source venv/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
    - pip install -r requirements-test.txt

db-migrations:
  stage: build
  script:
    - python manage.py makemigrations

accounts-test:
  stage: test
  script:
    - python manage.py test accounts

network-test:
  stage: test
  script:
    - python manage.py test network
