Django==1.11.23
django-appconf==1.0.2
django-auth-ldap==1.2.15
django-compressor==2.2
django-constance==2.0.0
django-picklefield==1.0.0
django-simple-captcha==0.5.5

psycopg2==2.7.3.1
pyldap==2.4.37

rcssmin==1.0.6
rjsmin==1.0.12

translitcodec==0.4.0
