{% extends "base_accounts.html" %}

{% block main %}
<div class="row valign-wrapper green-text text-darken-1">
	<div class="col s1 offset-s4 center-align">
		<i class="large material-icons center-align">done</i>
	</div>
	<div class="col s7">
		<h4 class="valign">Enregistrement terminé !</h4>
	</div>
</div>
<div class="row">
	<p class="center-align">
		Un e-mail de validation vous a été envoyé ; merci de cliquer sur le
		lien de confirmation dans ce dernier pour finaliser la création de
		votre compte.
	</p>
</div>
{% endblock %}
