{% extends "base_accounts.html" %}
{% block title %}
	Inscription
{% endblock %}

{% block main %}
<div class="row">
	<h4>Inscription</h4>
	<p>
		L’inscription à {{ PLATFORM_NAME }} vous permet d’accéder à de
		nombreux services de notre association.
	</p>
	<form action="" method="post">
		{% csrf_token %}
		{{ form.non_field_errors }}
		<p>
			<label for="{{ form.first_name.id_for_label }}">
					First name&nbsp;:
			</label>
			{{ form.first_name }}
		</p>
		<p>
			<label for="{{ form.last_name.id_for_label }}">
					Last name&nbsp;:
			</label>
			{{ form.last_name }}
		</p>
		<p>
			<label for="{{ form.email.id_for_label }}">
					E-Mail&nbsp;:
			</label>
			{{ form.email }}
		</p>
		<p>
			{{ form.agreement }}
			<label for="{{ form.agreement.id_for_label }}">
					En cochant cette case, je certifie être membre d’ATILLA, avoir accepté la charte
					d'utilisation des ressources informatiques de l'EISTI et accepter le stockage
					de données personnelles (<a target="_blank" href="{% url 'legal' %}">plus d'informations</a>)
			</label>
		</p>
		<input type="submit" value="Envoyer" class="btn" />
	</form>
</div>
{% endblock %}
