{% extends "base_accounts.html" %}
{% block title %}
	Validation terminée
{% endblock %}


{% block main %}
<div class="row valign-wrapper green-text text-darken-1">
	<div class="col s1 offset-s4 center-align">
		<i class="large material-icons center-align">done</i>
	</div>
	<div class="col s7">
		<h4 class="valign">Validation terminée !</h4>
	</div>
</div>
<div class="row">
	<p class="center-align">
		Merci d’avoir validé votre compte ! <br/>
		Vous pouvez dès à présent vous connecter à la plateforme ainsi
		qu’aux autres services fournis par
		<span class="orange-text text-darken-4">>~/ATILLA</span>.
	</p>
</div>
{% endblock %}
