{# I thied to respect the 80-chars rule … #}
{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link
			href="http://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"/>
		{% compress css %}
		<link type="text/scss"
			rel="stylesheet"
			href="{% static "sass/materialize.scss" %}"
			media="screen,projection"/>
		<link type="text/scss"
			rel="stylesheet"
			href="{% static "sass/base.scss" %}"
			media="screen,projection"/>
		{% endcompress %}
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}
				members.atilla.org
			{% endblock %}
		</title>
	</head>
	<body>
		<header>
			<nav>
				<div class="nav-wrapper">
					<a href="#"
						class="brand-logo center">
						>~/ATILLA
					</a>
					<ul class="left hide-on-med-and-down">
						<li>
							<a href="#">
								Mon compte
							</a>
							<a href="{% url "network:index" %}">
								Réseau
							</a>
						</li>
					</ul>
					<ul class="right hide-on-med-and-down">
						<li>
							<a href="{% url "accounts:login" %}">
								Connexion
							</a>
							<a href="{% url "accounts:register" %}">
								Inscription
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<main>
			<div class="row">
				<div class="col m8 offset-m2">
					{% block main %}
					{% endblock %}
				</div>
			</div>
		</main>
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					Fait avec amour par l’association >~/ATILLA
				</div>
			</div>
		</footer>
		<div id="scripts">
			<script type="text/javascript"
				src="{% static "js/jquery-2.1.1.min.js" %}">
			</script>
			<script type="text/javascript"
	   			src="{% static "js/materialize.min.js" %}">
			</script>
			<script type="text/javascript"
				src="{% static "js/custom.js" %}">
			</script>
			{% block scripts %}
			{% endblock %}
		</div>
	</body>
</html>
